In [1]:
alist = [ "Bilal", "Hasan", "Ali", "Abdullah"]

In [2]:
alist

['Bilal', 'Hasan', 'Ali', 'Abdullah']

In [3]:
# how to access the member

In [4]:
alist[1]

'Hasan'

In [9]:
alist[2]

'Ali'

In [10]:
len(alist)

4

In [11]:
fruits = []

In [12]:
len(fruits)

0

In [13]:
# adding a member to the list ..... append always add value last to the list    (append & insert)

In [14]:
fruits.append("apple")

In [15]:
fruits

['apple']

In [20]:
alist.append("usama")

['Bilal', 'Hasan', 'Ali', 'Abdullah', 'usama', 'usama', 'usama']

In [19]:
alist

['Bilal', 'Hasan', 'Ali', 'Abdullah', 'usama', 'usama']

In [21]:
# insert method. same work by append, but insert where index and what value add in the list

In [22]:
alist.insert(5, "Talha")

In [23]:
alist

['Bilal', 'Hasan', 'Ali', 'Abdullah', 'usama', 'Talha', 'usama', 'usama']

In [25]:
# extend method.... append multiple value in list than use extend method.Only one method to append Multiple value

In [26]:
alist.extend(["Arslan", "irfan", "usman"])

In [27]:
alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman']

In [28]:
# count method.... count method use to count the value repeat in list

In [29]:
alist.count("usama")

3

In [30]:
alist.count("usman")

1

In [31]:
# index method. ..... to find the index of any value

In [32]:
alist.index("usman")

10

In [33]:
alist.index("Ali")

2

In [34]:
fruits

['apple']

In [35]:
# clear method.... use to clear all value in list parmanent.. not recovery

In [36]:
fruits.clear()

In [37]:
fruits

[]

In [38]:
# copy method ....

In [40]:
alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman']

In [41]:
Alist=alist.copy()  # by value

In [42]:
Alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman']

In [46]:
blist = alist     # by reference

In [47]:
blist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman']

In [48]:
alist.append("abdul sattar")

In [49]:
blist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman',
 'abdul sattar']

In [50]:
Alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'usama',
 'Arslan',
 'irfan',
 'usman']

In [51]:
# Remove method..... remove an item from list  {del,remove}.... del is not function. del is statement and parmenent del. del need index to del the value in list.......remove is function and need the value remove from list

In [52]:
del alist[6]

In [53]:
alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'usama',
 'Talha',
 'usama',
 'Arslan',
 'irfan',
 'usman',
 'abdul sattar']

In [54]:
alist.remove("usama")

In [55]:
alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'Talha',
 'usama',
 'Arslan',
 'irfan',
 'usman',
 'abdul sattar']

In [56]:
# pop method.... pop method work same as remove and del ....but pop does not remove value parmenent and store value another name

In [57]:
cities = ["karachi", "lahore", "multan", "faisalabad", "pirmahal"]

In [58]:
cities

['karachi', 'lahore', 'multan', 'faisalabad', 'pirmahal']

In [61]:
poppedCity = cities.pop()
print(f"this city is poped from list {poppedCity}")
print(f"this remaining city is {cities}")

this city is poped from list multan
this remaining city is ['karachi', 'lahore']

In [63]:
poppedCity=cities.pop(0)
poppedCity

'karachi'

In [64]:
# sort fountion.....   ascending and decending order

In [65]:
cities= ["karachi", "lahore", "multan", "faisalabad", "pirmahal"]

In [66]:
cities

['karachi', 'lahore', 'multan', 'faisalabad', 'pirmahal']

In [67]:
cities.sort()

In [68]:
cities

['faisalabad', 'karachi', 'lahore', 'multan', 'pirmahal']

In [69]:
cities.sort(reverse=True)

In [70]:
cities

['pirmahal', 'multan', 'lahore', 'karachi', 'faisalabad']

In [71]:
# reverse method

In [72]:
cities.reverse()

In [73]:
cities

['faisalabad', 'karachi', 'lahore', 'multan', 'pirmahal']

# Slicing

In [74]:
alist

['Bilal',
 'Hasan',
 'Ali',
 'Abdullah',
 'Talha',
 'usama',
 'Arslan',
 'irfan',
 'usman',
 'abdul sattar']

In [5]:
print(alist[2])
print(alist[-9])

Ali

IndexError: list index out of range

In [7]:
alist

['Bilal', 'Hasan', 'Ali', 'Abdullah']

In [2]:
#index      -5          -4        -3        -2           -1
cities = ["karachi", "lahore", "multan", "faisalabad", "pirmahal"]
#index       0           1         2         3            4

In [4]:
cities

['karachi', 'lahore', 'multan', 'faisalabad', 'pirmahal']

In [7]:
cities[1:3]

['lahore', 'multan']

In [12]:
cities[-4:-2]

['lahore', 'multan']

In [13]:
cities[:]

['karachi', 'lahore', 'multan', 'faisalabad', 'pirmahal']

In [14]:
cities[2:]

['multan', 'faisalabad', 'pirmahal']

In [15]:
cities[1:-1]

['lahore', 'multan', 'faisalabad']

In [16]:
cities[-4:4]

['lahore', 'multan', 'faisalabad']

In [21]:
nums=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [22]:
print(nums[1])
print(nums[-18])

2
3

In [23]:
nums[1:17:2]

[2, 4, 6, 8, 10, 12, 14, 16]

In [24]:
nums[::4]

[1, 5, 9, 13, 17]

# Tupple

In [1]:
#Tupple.... To store multiple value in single variable.....tupple are immutable (notr change

In [11]:
atupple = ["ali", "bilal", "Abdullah"]

In [13]:
atupple[0:2]

['ali', 'bilal']

In [4]:
len (atupple)

3

In [14]:
del atupple[1]

In [15]:
atupple.remove("ali")

In [16]:
a = 12,13,14

In [17]:
a

(12, 13, 14)

In [18]:
b = "ali", "bilal"

In [19]:
b

('ali', 'bilal')